<div class="header">
  <div class="mainheader">
   
    <form action="\logout" method="get">
      <button type="submit">Log Out</button>
    </form>
  </div>
  <div class="heading">
    <h1><%= title %></h1>
    <p><%= subTitle %></p>
  </div>
</div>
