<div class="header">
  
  <div class="heading-but">
    <form action="\logout" method="get">
      <button type="submit">Log Out</button>
    </form>
  </div>
</div>
<div class="heading">
  <div>
    <h1><%= title %></h1>
    <p><%= subTitle %></p>
  </div>
</div>
