<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error</title>
    <link rel="stylesheet" href="/styles/header.css" />

  </head>
<body style="background-color: rgba(54, 84, 134, 1); color: white;">
  <%- include('includes/header') %>
  <main >
    <h1 style="text-align: center; ">Not authorized!</h1>
    <p style="text-align: center; ">You are not authorized and therefore not allowed to access this page!</p>
  </main>
</body>
</html>