<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/header.css" />

    <title>AboutUs</title>
    <link rel="stylesheet" href="/styles/aboutUs.css" />
</head>

<body>
   <%- include('includes/header')%>
    <div class="content">
        <p id="welcome">Welcome to Staff Management System, where we revolutionize staff management with innovative
            solutions.</p>

        <p class="contenty-p">Our Mission</p>

        <p class="cont-p">At Staff Management System, our mission is to streamline and enhance the way organizations
            manage their staff. We aim to provide efficient tools and services that empower businesses to optimize
            workforce management, improve productivity, and foster a positive working environment.</p>

        <p class="contenty-p">Our Story</p>

        <p class="cont-p">Founded in 2024, Staff Management System emerged from a vision to address the challenges
            businesses face in managing their staff effectively. Our journey began with a commitment to creating
            user-friendly, scalable, and intelligent solutions for workforce management.</p>

        <p class="contenty-p">Innovation and Adaptability</p>

        <p class="cont-p">In the dynamic landscape of workforce management, we stay agile and innovative. Our commitment
            to continuous improvement allows us to adapt to the changing needs of our clients and the industry.</p>

        <p class="contenty-p">Our Team</p>

        <p class="cont-p">Meet the talented individuals behind Staff Management System. Our team is composed of
            experienced professionals in software development, user experience, and customer support. Together, we work
            collaboratively to deliver high-quality solutions that make a positive impact on businesses.</p>

        <p class="contenty-p">Values</p>

        <p class="cont-p">Our values define who we are and guide our decisions and actions:</p>
        <p class="cont-p">- **Excellence:** We strive for excellence in everything we do, from product development to
            customer service.</p>
        <p class="cont-p">- **Integrity:** We operate with honesty, transparency, and a commitment to ethical business
            practices.</p>
        <p class="cont-p">- **Innovation:** We foster a culture of innovation, encouraging creative thinking and
            continuous improvement.</p>
        <p class="cont-p">- **Customer Focus:** Our clients are at the center of everything we do. We listen to their
            needs and work diligently to exceed their expectations.</p>

        <p class="contenty-p">Contact Us</p>

        <p class="cont-p">We're excited about the future of staff management, and we invite you to join us on this
            journey. For inquiries, partnerships, or to learn more about our solutions, <a href="/contactUs" class="link">Contact
                Us</a></p>

        <p id="cont">Thank you for choosing Staff Management System for your staff management needs.
        </p>
    </div>
</body>

</html>