<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff management system</title>
    <link rel="stylesheet" href="/styles/mainpage.css" />
    <link rel="stylesheet" href="/styles/header.css" />
  </head>

  <body>
    <%- include("includes/header") %>
    <div class="image">
      <img class="Home-img" src="img/SMS.jpg" />
      <div class="Text">Welcome to the Staff Management System</div>
      <div class="Text1">
        Managing your workforce made easy! Our Staff Management System provides
        a comprehensive solution to streamline your organization's staffing
        processes. From employee data management to efficient communication,
        we've got it all covered.
      </div>
    </div>
    <div class="box-1">
      <h1 id="box-1-1">Key Features:</h1>
      <div class="First-container">
        <div class="Feature-text" id="Feature-text">
          <p>Staff Profiles</p>
          Go beyond the basics! Each employee profile is a comprehensive
          repository of information, including employment history,
          certifications, and performance metrics. Keep a detailed record that
          goes beyond the surface, providing valuable insights for strategic
          decision-making.
        </div>
        <div class="Feature-text">
          <p>Attendance Tracking</p>
          Effortlessly monitor attendance with our automated tracking system.
          Say goodbye to manual attendance sheets and hello to real-time
          insights. Track punctuality, absenteeism, and leave requests
          seamlessly.
        </div>
        <div class="Feature-text" id="Feature-text1">
          <p>Reports and Analytics</p>
          Make data-driven decisions with our powerful reporting and analytics
          tools. Gain insights into employee performance, attendance trends, and
          overall organizational efficiency. Identify areas for improvement and
          optimize your workforce management strategy.specific staff.
        </div>
      </div>
      <div class="sec-container">
        <div class="Feature-text" id="Feature-text">
          <p>Leave Management</p>
          Ensure smooth workflow by incorporating a robust leave management
          system. Employees can request leaves, and administrators can
          efficiently approve or decline requests. Keep track of leave balances
          and maintain a transparent record of absences.
        </div>
        <div class="Feature-text">
          <p>Survey and Feedback</p>
          Create surveys to gather feedback from staff on various aspects.
          Analyze feedback to make informed decisions and improve institutional
          processes. !Foster a culture of continuous improvement based on staff
          input.
        </div>
        <div class="Feature-text" id="Feature-text1">
          <p>Reports and Analytics</p>
          Make data-driven decisions with our powerful reporting and analytics
          tools. Gain insights into employee performance, attendance trends, and
          overall organizational efficiency. Identify areas for improvement and
          optimize your workforce management strategy.specific staff.
        </div>
      </div>
      <h1 id="box-1-2">How It Works:</h1>
      <div class="Working">
        <div class="Working-text">
          <p>Step 1: "Sign Up"</p>
          "Create your account and set up your organization quickly. It's as
          easy as filling in a few details."
        </div>
        <div>
          <img class="working-img" src="/img/working.png" />
        </div>
      </div>
      <div class="Working">
        <div>
          <img class="working-img" src="/img/working1.png" />
        </div>
        <div class="Working-text">
          <p>Step 2: "User Registration"</p>
          Employees undergo a simple registration process where their basic
          information is entered into the system. This establishes their digital
          identity within the organizational database.
        </div>
      </div>
      <div class="Working">
        <div class="Working-text">
          <p>Step 3: "Profile Setup"</p>
          After registration, employees set up their profiles, including details
          such as department, position, and contact information. This step
          ensures that the system has accurate and up-to-date information for
          each user.
        </div>
        <div>
          <img class="working-img" src="/img/working2.png" />
        </div>
      </div>
      <div class="Working">
        <div>
          <img class="working-img" src="/img/working3.png" />
        </div>
        <div class="Working-text">
          <p>Step 4: "Performance Metrics"</p>
          Employees input and update performance metrics related to their key
          responsibilities. This could include sales targets achieved, projects
          completed, or other quantitative measures showcasing their
          contributions to the organization.
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-ul">
        <div>
          <ul class="foot-route">
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Customer service</a></li>
            <li><a href="#">Social Media</a></li>
          </ul>
        </div>
        <div>
          <ul class="foot-route">
            <li><a href="/contactUs">Contact Us</a></li>
            <li><a href="">FAQs</a></li>
          </ul>
        </div>
        <div>
          <ul class="foot-route">
            <li><a href="">Blog</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="logo">
        <a href=""><img class="logo-1" src="/img/facebook.png" alt="" /></a>
        <a href=""><img class="logo-1" src="/img/X.png" /></a>
        <a href=""><img class="logo-1" src="/img/Instagram.png" /></a>
        <a href=""><img class="logo-1" src="/img/linked in.png" /></a>
        <a href=""><img class="logo-1" src="/img/Whatsapp.png" /></a>
      </div>
      <div class="reserved">
        <p>
          <img src="img/reserved.png" /> 2024 Staff Management System. All Rights
          Reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
