* {
    margin: 0px;
    padding: 0px;
}

.main-content {
    flex: 1;
    background-color: #141A28;
    color: white;
    height: 100vh;
}


.container input {
    margin-top: 30px;
    margin-left: 22px;
    height: 30px;
    width: 95%;
    color: white;
    background-color: #1C2438;
}

.buttonn {
    text-align: center;
    margin-top: 30px;
}

#Decline {
    border-radius: 5px;
    border: 2px solid green;
    color: green;
}

#Approval {
    border-radius: 5px;
    border: 2px solid red;
    color: Red;
}

.bottom {
    background-color: rgba(56, 59, 139, 1);
    height: 6vh;
    width: 100%;
    margin-top: 80px;
}