.content{
    margin-top: 3vh;
    display: flex;
}
h5{
    color: #8E96A1;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.menu{
    background-color: rgba(27, 37, 55, 1);
    color: white;
    width: 19vw;
        position: fixed;
    height: 100vh;
}
.topmenu i{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
}
.topmenu{
    margin: 5px;
    margin-left: 20px;
    display: flex;
}
.logo i{ 
  margin-top: 10vh;
  margin-left: 6.5vw;
  font-size: 100px;
}
.logo p{
    margin-top: 5px;
    /* margin-left: 6vw; */
    text-align: center;
}
.para1{
    margin-top: 10px;
    margin-left: 30px; 
    display: flex;
}
.para2,.para3,.para4{
    margin: 30px;
}